@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: Roboto, sans-serif;
    color: #efeff1;
}

body {
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #141630;
    text-align: center;
}

.sidebar {
    background-color: #18171d;
}

nav {
    float: left;
    width: 200px;
    position: sticky;
    top: 0;
    padding-top: 10px;
}

nav li {
    list-style: none;
    padding: 4px 4px;
}

nav li a {
    text-decoration: none;
}

nav li a:hover {
    background-color: #0000000F;
}

main {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #5d5b64;
}

.content {
    float: inline-start;
    position: static;
    min-width: 200px;
    margin: 0px;
    border: solid 2px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #22007C;
}

footer {
    border-top: solid white 1px;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #04052E;
    padding: 20px;
}

footer img:hover {
    background-color: red;
}
