@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); /*Importiert Schriftart*/

* { /*Gilt für alles in einem Dokument*/
    font-family: Roboto, sans-serif;

    color: #ddd;
}

body {
    padding: 0;

    margin: 0;
}


a {
    text-decoration: none;
}

.grid {
    display: grid;

    /*grid-template-columns: auto auto auto;*/
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;

    z-index: 2;

    background-color: #141630;

    text-align: center;
}

.header a {
    text-decoration: none; /*Keine Linie unter links*/
}

.sidebar {
    background-image: url("../images/footer background.png");
    background-size: 1000px;
    background-position: left;
}

nav {
    float: left;

    position: sticky; /*Bleibt an einer Stelle des Fensters*/
    
    top: 0;

    width: 250px;

    background-color: #1d2a35;
}

nav ul {
    padding-left: 10px;
}

nav h2 {
    padding-left: 10px;
    color: #486856;
}

.main-nav {
    padding: 5px;

    margin: 0px;
    margin-bottom: 20px;

    border: solid 1px;
    border-radius: 5px; /*Abgerundete Ecken*/
}

nav ul:hover {
    background-color: #38444d;
}

.Übersicht {
    padding: 5px;

    margin: 0px;
    margin-bottom: 20px;

    border: solid 1px;
    border-radius: 5px;
}

main {
    grid-column-start: 2; /*main geht von der 2. Spalte bis zur 3.*/
    grid-column-end: 3;

    padding: 10px;
    padding-left: 20px;
    padding-top: 20px;

    z-index: 1; /*Mach main in den Fordergrund. Elemente mit höherem z-index Wert werden vor Elementen mit niedrigerem z-index Wert plaziert*/

    background-color: #1d2a35;

    box-shadow: -10px 0 5px 1px #1d2a35, 10px 0 5px 1px #1d2a35;
}

.content {
    float: right;

    position: static;

    margin: 4px 20px;
    margin-left: 10px;

    padding: 20px 40px;

    max-width: 1200px;

    border: solid 1px;
    border-radius: 5px;

    background-color: #38444d;
}

.Introduction {
    margin-bottom: 30px;

    background-color: #486856;
}

.Introduction li {
    margin-left: 30px;
}

.Introduction p {
    padding: 10px 20px;

    margin: 0;

    background-color: #486856;
}

.paragraph {
    margin-bottom: 20px;

    border-top: solid 1px;
    border-color: #a8a8a8;
}

.paragraph h3 {
    padding-top: 20px;
}

footer {
    grid-column-start: 1;
    grid-column-end: 4;

    position: relative;

    display: flex; /*Google*/

    z-index: 2;

    padding: 20px;

    border-top: solid 1px;

    background-image: url("../images/footer background.png");
    background-size: 40%;
}

.Kontakt {
    width: 300px;
    height: fit-content;
}

.YouTube {
    position: absolute;

    top: 40px;
    right: 20px;

    width: 50px;
    height: 50px;

    background-image: url("../images/YT Logo Gray.png");
    background-size: cover;
}

.YouTube:hover { /*Wenn man mit der Maus über dem YouTube Logo hovert, dann ändert sich das Bild*/
    background-image: url("../images/YT Logo Red.png");
}