* {
    font-family: Roboto;
}

p{
    color: white;
}

body{
    background-image: url("../images/footer background.png");
    background-size: 1000px;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #02010A;
}

.side {
    background-image: url("../images/footer background.png");
    background-size: 1000px;
    background-position: left;

    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.8);

    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.main {
    background-color: #38444d;
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
}

img{
    transition: transform .5s;
}

.main a img:hover {
    transform:scale(1.15);
}

.Headline {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    background-color: #141630;
}

.Footer {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: left;
    background-image: url("../images/footer background.png");
    background-size: 1000px;
}

.FooterArrangement{
    padding: 20px;
    width: 500px;
}

.Headline h1 {
    color: white;
}