* {
    font-family: Roboto;
    color: #ddd;
}

a {
    text-decoration: none;
}

body{
    background-image: url("../images/footer background.png");
    background-size: 1000px;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #02010A;
}

.side {
    background-image: url("../images/footer background.png");
    background-size: 1000px;
    background-position: left;

    padding: 20px;

    font-size: 30px;

    text-align: center;

    z-index: 0;
}

.main {
    background-color: #1d2a35;

    padding: 20px;

    font-size: 30px;

    text-align: center;
    
    box-shadow: -10px 0 5px 1px #1d2a35, 10px 0 5px 1px #1d2a35;

    z-index: 2;
}

img {
    transition: transform .5s;
}

.main a img:hover {
    transform:scale(1.15);
}

.Headline {
    grid-column-start: 1;
    grid-column-end: 4;

    text-align: center;

    background-color: #141630;

    z-index: 3;
}

.Footer {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: left;
    background-image: url("../images/footer background.png");
    background-size: 1000px;
}

.FooterArrangement{
    padding: 20px;
    width: 500px;
}

.Headline h1 {
    color: white;
}

footer {
    grid-column-start: 1;
    grid-column-end: 4;

    position: relative;

    display: flex; /*Google*/

    z-index: 2;

    padding: 20px;

    border-top: solid 1px;

    background-image: url("../images/footer background.png");
    background-size: 40%;
}

.Kontakt {
    width: 300px;
    height: fit-content;
}

.YouTube {
    position: absolute;

    top: 40px;
    right: 20px;

    width: 50px;
    height: 50px;

    background-image: url("../images/YT Logo Gray.png");
    background-size: cover;
}

.YouTube:hover { /*Wenn man mit der Maus über dem YouTube Logo hovert, dann ändert sich das Bild*/
    background-image: url("../images/YT Logo Red.png");
}